@tailwind base;
@tailwind components;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 780px;
  margin: 0 auto;
  @apply bg-rb-yellow-200;
}

.textBody {
  @apply text-[10px] xs:text-[12px] md:text-base;
}

.titleBar {
  @apply m-auto mt-8 w-4/5 rounded-3xl bg-rb-yellow-400 text-center;
}
.title {
  @apply mx-4 font-black text-rb-verde1-400;
}

.videoContainer {
  @apply m-0 aspect-video	w-full;
}
@tailwind utilities;
